<meta charset="UTF-8">
{% extends "base.html" %}
{% block title %}调色板颜色检索{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="palette_search">
            <form id="palette_search_form" action='#'>
                <div class="row">
                <div id="palette_search_form_colors">
                    <h3>颜色选择</h3>
                    {% include 'palette.html' %}
                    <input type="hidden" id="palette_search_form_hidden_colors" name="colors" value=""/>
                </div>
                </div>
                <div class="row">
                <div id="show_select_colors">
                    <h3>选择颜色比例</h3>
                </div>
                </div>
                <input id="palette_search_form_submit" type="submit" value="检索图像"/>
            </form>
        </div>
    </div>
</div>

<div id>

</div>
<div class="container navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-offset-6">
            <ul class="pagination ">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
<script src="/static/jquery-1.8.3.js"></script>
<script src="/static/sprintf-0.7-beta1.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
  <link href="/static/main.css" media="all" rel="stylesheet" type="text/css"/>
  <script src="/static/search_by_palette.js"></script>
  <script>
    $(document).ready(function() {
      // Add a simple URL query string parser to jQuery.
      $.urlParam = function (name){
        var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (!results) { return 0; }
        return results[1] || 0;
      }

      // Add form submission JS.
      $('#palette_search_form').submit(function() {
//        var sic_type = $("#palette_search_form input[name='sic_type']:checked").val();
//        var sigma = $("#palette_search_form input[name='sigma']:checked").val();
        var sic_type = "Euclidean, sigma=16, CKDTree";
        var sigma = '16';
        var colors = $('#palette_search_form_hidden_colors').serialize();
        var values = getValues();
        values=encodeURIComponent(values.join(","));
        var search_url = sprintf('/search_by_palette/%s/%s?%s&values=%s',
          sic_type, sigma, colors,values);
        window.location = search_url;
        return false;
      });
      // Prepare the color palette search form.
      var sic_type = "{{ sic_type }}";
      var sigma = "{{ sigma }}";
      var fea_type = "color";
      var colors = {{ colors }} || {};
      colors_str = Object.keys(colors).join(',');
      $('#palette_search_form_hidden_colors').val(colors_str);
      // Add selected colors lable
      addShowSelectedColors(({{ colors }} || {}));
      // Display the initial selected colors.
      $.each(colors, function(key, val) {
        document.getElementById(key).setAttribute('class', 'selected');
      });

      // Add selection toggles to all the colors in the palette.
      // Selection toggles update the UI and set the hidden 'colors' input field.
      var toggleSelected = function(event) {
        if (this.getAttribute('class') == 'selected') {
          delete(colors[this.id]);
          this.setAttribute('class', '');
          deleteShowSelectedColor(this);
        } else {
          colors[this.id] = 1;
          this.setAttribute('class', 'selected');
          addShowSelectedColor(this);
        }
        colors_str = Object.keys(colors).join(',');
        $('#palette_search_form_hidden_colors').val(colors_str);
      };
      $('a').each(function(i,el) {
        el.onclick = toggleSelected;
      });
      // Make the request for the palette query histogram and image results.
      var display_results = function(json_data) {
        // note: sprintf does not work in the below line
        $('#palette_query').html(
          '<img width="240px" src="data:image/png;base64,' + json_data['pq_hist'] + '" />'
        );
        {% include 'display_images.js' %}
      }
      var search_url = sprintf(
        '/search_by_palette_json/%s/%s', sic_type, sigma);
      $.getJSON(search_url, data = {
          'colors': getObjectKeys(colors).join(','),
          'values': getObjectValues(colors).join(',')
              },
          success=display_results);
    });
  </script>
    {{ moment.include_moment() }}
{% endblock %}