h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  margin-top: 70px;
  color: black;
  background: white;
}
p+p {
  margin-top: 10px;
}
h3 {
  font-weight: bold;
  font-size: 100%;
}
ol, ul {
  list-style-type: disc;
  padding-left: 2em;
}
a img {
  border: none;
}

html {
  background: #eeeeee;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}

#images {
  float: left;
  width: 1000px;
}

div.result {
  display: inline-block;
  margin: 0px;
}
.result {
  padding-top: -3px;
  font-size: 9px;
  text-decoration: none;
}

#search_sidebar {
  float: left;
  width: 280px;
}

#palette_search div {
  padding-bottom: .666em;
}

#palette_search_form a {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 0px solid gray;
  margin: 0px;
  padding: 0px;
}

#palette_search_form a.selected {
  width: 18px;
  height: 18px;
  border: 3px solid black;
  /*margin: -3px;*/
  padding: 0px;
}

#palette_search_form span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.colorPercetage {
    float: left;
    clear: left;
    width: 150px;
    margin: 10px;
}

#results{
  margin-top:-10px;
  margin-bottom:100px;
}
.tag{
  margin-left:0px;
  margin-right:0px;
  padding-left: 0px;
  padding-right: 0px;
}
#lable1{
  background-color:#3C3C3C;
  border-color:#3C3C3C;
}
#lable2{
  background-color:#6C6C6C;
  border-color:#6C6C6C;
}
#lable2 h4{
  color:#FFFFFF;
}
#lable3{
  background-color:#6C6C6C;
  border-color:#6C6C6C;
}
#lable3 h4{
  color:#FFFFFF;
}
#lable4{
  background-color:#6C6C6C;
  border-color:#6C6C6C;
}
#lable4 h4{
  color:#FFFFFF;
}

#palette_search_form_sic_types{
  margin-top: 20px;
  margin-right:20px;
}
.lable{
  background-color:#3C3C3C;
  margin-right:20px;
  margin-top:5px;
  margin-left:2px;
  padding:5px;
  border-radius:3px;
}
.lable h4{
  color:#FFFFFF;
}
#upload_value{
   margin-top:-15px;
   border-color:#6C6C6C;
}
#back{
   margin-top:-15px;
   border-color:#6C6C6C;
}